<style>
    .flex-container {
        display: flex;
    }

    .flex-child {
        flex: 1;
    }

        .flex-child:first-child {
            margin-right: 20px;
        }
</style>
<div>
    <h1>About Lokusa </h1>
    <h3>Lokusa's journery  as a student at University of Pretoria</h3>
    <div style="background-color:lightcyan">
        <div class="flex-container">


            <div class="flex-child magenta">
                <div style="margin-left:5%">
                    <h3>Bio</h3>
                    <p>
                        Lokusa Thwala  is a student at the Uiversity of Pretoria, studying Bcom informatics second year.She started her uiversity journey in 2020 where i was admitted for Bcom extended program, the 2021 that is whe i transfered to informatics. 

                    </p>
                         Lokusa's university journery is not a easy one but she strongly believe that she will make it to the finish line,she is a hardworker and determined person.   
                    <p>
                        participate in the student societies offered by the university , she is currently a SIT HOUSE EC member for 2022/23 term at Uiversity of Pretoria.Lokusa Thwala volugteers alot in charity work. 
                    </p>
                      Lokusa aspires to be a data analyst, she fid this career very intresting and she enjoys coding with R programming to analyse data. She tryig her  best to get good grades so that she ca e admitted for data science during her honors
                    <p>
                        Lokusa sees herself working in one of the big companies like Amazon as a data analyst.
                    </p>

                </div>
            </div>

            <div class="flex-child green">
                <h3>Lokusa Thwala</h3>
                <br />
                <img style="margin-left:10%; width:80%" src="~/Content/20210213_104950-1.jpg" />
                
            </div>
        </div>
    </div>
</div>